<form (ngSubmit)="addService()">

		<div>
		<h3>Formulaire création service :</h3><br>

		<label>Nom* : </label><input type="text" id="nom" name="nom" [(ngModel)]="nom">
		&nbsp;
		<label>Type* : </label><input type="text" id="type" name="type" [(ngModel)]="type">
		<br><br>
		<label>PrixNeuf* : </label><input type="text" id="prix" name="prix" placeholder="10€" [(ngModel)]="prix">
		<br><br>
		<label>Semaine* : </label> <input type="text" id="semaine" name="semaine" [(ngModel)]="semaine" >
		<label>Jour* : </label> <input type="text" id="jour" name="jour" [(ngModel)]="jour" >
		<label>Horaire* : </label> <select id="AMPM" name="AMPM" [(ngModel)]="horaire">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select> <br><br>

		<br><br>

		<button type="submit">Valider</button><br>
	</div>
</form>
<button (click)="update()">UPDATE</button><br>
<div>
  Voici la liste de tes services :
  <ul>    
    <li *ngFor="let service of services"> {{service.nom}} {{service.type}} {{service.prixNeuf}} <button (click)="delete(service)">Delete</button><br></li>
  </ul>
</div>
