<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="500" alt="Allovoisin" src="assets/allovoisins.jpg">
</div>
<div class="center">
<app-connexion></app-connexion>
<app-inscription></app-inscription>

<br><br>
<a routerLink="/researchProduit">De quoi avez-vous besoin ?</a><br>
<a routerLink="/biens">Mes biens ?</a><br>
<a routerLink="/services">Mes services ?</a><br>
<a routerLink="/membres">Membres</a><br>
<a routerLink="/emprunt">Mes emprunts</a>
<router-outlet></router-outlet>
</div>